/*==========================================
*** HTML TAG STYLES ***
==========================================*/
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;

body {
  font-family: Roboto;
}
/*==========================================
*** SHELL STYLES ***
==========================================*/
a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-decoration: none;
  color: #393944;
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #393944;
}

button {
  border: none;
  outline: none !important;
}

.image-auto {
  width: auto;
  max-width: 100%;
}

.image-full {
  width: 100%;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.font-medium {
  font-weight: 500;
}

strong,
b {
  font-weight: bold;
}

.has-dark-overlay {
  -webkit-transition: background-color 600ms ease-in-out;
  -moz-transition: background-color 600ms ease-in-out;
  -o-transition: background-color 600ms ease-in-out;
  transition: background-color 600ms ease-in-out;
  background-color: rgba(51, 51, 51, .50);
  background-blend-mode: overlay;
}

.has-dark-overlay:hover {
  background-color: rgba(51, 51, 51, .60);
}

/*=========================================
    *** @media files ***
=========================================*/

@media (min-width: 1200px) {
  .container {
    max-width: 990px;
    position: relative;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1592px;
    position: relative;
  }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*==========================================
*** START ***
==========================================*/

/* Fixed Side Bar */

.sidenav {
    height: 100%;
    width: 301px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3b4c;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {

    text-decoration: none;
    font-size: 19px;
    line-height: 21px;
    color: #b0bbc0;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main1 {
    margin-top: 101px;
    margin-left: 291px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.sidenav a:focus,
.sidenav a:hover,
.sidenav a:active,
.sidenav a:active:focus,
.sidenav a:active:hover {
  border-left: 3px solid #00bfe8;
  color: #f1f1f1;
  background-color: #2a3344;
}

.hrline {
  margin-top: 15%;
  color: #b0bbc0;
  border-bottom: 2px solid #b0bbc0;
}

/* Fixed side bar ENB */


.dogovor {
  font-size: 15px;
}

.kniski {
  font-size: 15px;
}

.tabla1 {
  cursor: pointer;
}

.tabla2 {
  cursor: pointer;
}

.alert-danger {
  background-color: #e10404;
  color: #FFF;
  font-family: Roboto;
  font-size: 17px;
  line-height: 21px;
  }

.naslov {
  background-color: #f8f8f8;
}


/*==========================================
*** END ***
==========================================*/

/* responsive css */
@media (max-width: 1199.98px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
}

@media (max-width: 767px) {}

@media (max-width: 575.98px) {
  .feature-single.flip {
    min-height: 580px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}
